*{
    font-family: sans-serif;
}
.parent{
    width: 35%;
    margin: auto;
    border: 1px solid black;
}
.parent p{
    font-size: 20px;
    font-weight: 500;
}
.header{
    display: flex;
    justify-content: space-between;
}