.parent{
    /* border: 1px solid black; */
    width: max-content;
    padding: 10px 10px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.topbox{
    display: flex;
    align-items: center;
    gap: 70px;
    /* border: 1px solid pink; */
    margin-bottom: -20px;
    width: 240px;
    justify-content: space-between;
}
.topbox>div{
    display: flex;
    align-items: center;
}
.bottombox{
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    gap: 25px;
}
.bottombox img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* border: 1px solid rgb(245, 245, 7); */
    margin-bottom: -10px;
}